:root {
    --background: #fff;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #fff;
    --navbar-light-secondary: #8392a5;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
}

#mainContainer {
    .titlePage {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #18283b;
        width: 75%;
    }
}

#mainContainer {
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    width: calc(100% - var(--navbar-width-min));
    top: 0;
    left: 82px;
    background-color: #fff;
    z-index: 999;
}

.fas {
    padding-left: 10px;
}

#nav-bar:hover {
    width: var(--navbar-width);
}

#nav-bar:hover #nav-title {
    opacity: 1;
}

#nav-bar:hover~#nav-header {
    width: calc(var(--navbar-width-min) - 16px);
}

#nav-bar:hover~#mainContainer {
    left: calc(var(--navbar-width));
}

#nav-bar:hover~#nav-content {
    fill: var(--navbar-dark-primary);
}

#nav-bar:hover~#nav-footer {
    width: var(--navbar-width-min);
}

#nav-bar:hover~#nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

#nav-bar:hover~#nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
}

#nav-bar:hover~#nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
}

#nav-bar:hover~#nav-header #nav-toggle-burger:before,
#nav-bar:hover~#nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
}

#nav-bar:hover~#nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
}

#nav-bar:hover~#nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
}

#nav-bar:hover~#nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}

#nav-bar:hover~#nav-footer #nav-footer-titlebox,
#nav-bar:hover~#nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

#nav-bar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--navbar-dark-primary);
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    width: var(--navbar-width-min);
    transition: width 1s;
}

#nav-bar hr {
    margin: 0;
    position: relative;
    width: 100%;
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
}

#nav-bar a {
    color: inherit;
    text-decoration: inherit;

}

#nav-bar input[type=checkbox] {
    display: none;
}

#nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

#nav-header hr {
    position: absolute;
    bottom: 0;

}

#nav-title {
    padding-left: 30px;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 1s;
}

label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-content {
    fill: var(--navbar-light-secondary);
}

#nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
}

#nav-toggle-burger:before,
#nav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
}

#nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
}

#nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}

#nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}

#nav-content-highlight:before,
#nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}

#nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
    gap: 16px;
}

.nav-button span {
    transition: opacity 1s;
}

.nav-button .fas {
    transition: min-width 0.2s;
}

.nav-button:nth-of-type(1):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(1):hover~#nav-content-highlight {
    top: 16px;
}

.nav-button:nth-of-type(2):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(2):hover~#nav-content-highlight {
    top: 70px;
}

.nav-button:nth-of-type(3):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(3):hover~#nav-content-highlight {
    top: 124px;
}

.nav-button:nth-of-type(4):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(4):hover~#nav-content-highlight {
    top: 178px;
}

.nav-button:nth-of-type(5):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(5):hover~#nav-content-highlight {
    top: 232px;
}

.nav-button:nth-of-type(6):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(6):hover~#nav-content-highlight {
    top: 286px;
}

.nav-button:nth-of-type(7):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(7):hover~#nav-content-highlight {
    top: 340px;
}

.nav-button:nth-of-type(8):hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(8):hover~#nav-content-highlight {
    top: 394px;
}

#nav-bar .fas {
    min-width: 3rem;
    text-align: center;
}

#nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
    padding: 0 0 0 10px;
}

#nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

#nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
}

#nav-footer-avatar img {
    height: 100%;
}

#nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
    padding-left: 10px;
}

#nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
}

#nav-footer-toggle:hover+#nav-footer {
    height: 30%;
    min-height: 54px;
}

#nav-footer-toggle:hover+#nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}

#mainContainer {
    transition: left 1s ease;
}

#nav-toggle:hover~#mainContainer {
    transition: left 1s ease;
}

#nav-toggle:hover~#nav-content {
    transition: width 0.2s;
}

#nav-toggle:hover~#nav-footer {
    transition: width 0.2s;
}



.tasks {
    /* margin-top: 20px; */
    display: grid;
    grid-gap: 20px;
    border-bottom: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 30px;
}

.tasks-checked {
    /* margin-top: 20px; */
    display: grid;
    grid-gap: 20px;
    /* border-top: 1px solid #000000; */
    padding-top: 10px;

}


.task {
    transition: transform 0.3s ease;
}

.checked {
    transform: scale(0);
    transition: transform 0.3s ease;
    opacity: 0;
}

.head {
    display : flex;
}

.discript1 {
    font-size: 20px;
}

.task {
    /* align-items: center; */
    padding: 5px;
    background-color: #59afe1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s; /* Apply transition for background color and transform */
}

.task:hover {
    background-color: #1e9ae1;
}

.task:hover {
    transform: scale(1.02);
}

.checked {
    background-color: #de7e6d;
}

.checked:hover {
    background-color: #d45b45;
}

.headtask {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size:13px ;
    border-bottom: 1px solid #000000;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.div1 {
    display: flex;
}

.div2 {
    margin-left: 20px;
}

.buttons button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    background-color: #1583c3;
    font-weight: bold;
}

.buttons input {
    /* border: none; */
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 250px;
}

.task label {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}

.part1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 45px;
    border-right: 1px solid #000000; 
}

.headpart1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 45px;
    border-right: 1px solid #000000;
}

.part2 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 30%;
    border-right: 1px solid #000000; 
}

.headpart2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 30%;
}

.part3 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 15%;
    border-right: 1px solid #000000; 
}

.headpart3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 10%;
}

.part4 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 15%;
    border-right: 1px solid #000000; 
}

.headpart4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 15%;
}

.part5 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 30%;
}

.headpart5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 30%;
}

.task input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    outline: none; 
    cursor: pointer;
    background-color: #ffffff;
}

.task input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 36px;
    font-weight: bold;
    display: block;
    color: #000000;
    text-align: center;
    line-height: 30px;
}

.btn {
    height: 40px;
    width: 150px;
    background-color: #1583c3;
    color: #000000b2;
    font-weight: bold;
    border-radius: 12em;
    margin-bottom: 30px;
    margin-left: 0.1em;
    margin-right: 2em;
}

.btn:hover {
    background-color: #106799;
}

